
## Nginx
nginx/data

## The Lounge

# Keys for web push, we don't want to share this
thelounge/vapid.json
# User files have keys for connecting to networks, we shouldn't share this
thelounge/users/
# Logs are generally sensitive, so we'll ignore all of that
thelounge/logs

## RethinkDB

rethinkdb/rethinkdb_data


## Let's Encrypt
acme/certs
acme/conf/credentials

## ZNC

# Logs are generally sensitive, so we'll ignore all of that, they are in multiple differnet areas
znc/moddata/log
znc/users/*/moddata/log
znc/users/*/networks/*/moddata/log

# Obviously, we don't want to store nickserv passwords
znc/users/*/networks/*/moddata/nickserv

# Extras
secrets.tar.gz
sites.tar.gz