
## Nginx
nginx/data

## The Lounge

# Keys for web push, we don't want to share this
thelounge/vapid.json
# User files have keys for connecting to networks, we shouldn't share this
thelounge/users/
# Logs are generally sensitive, so we'll ignore all of that
thelounge/logs
# Let's get rid of thelounge storage as well
thelounge/storage
# And uploads
thelounge/uploads
# Ignore thelounge packages
thelounge/packages/*
# But not the package.json or yarn.lock
!thelounge/packages/package.json
!thelounge/packages/yarn.lock

# Ignore certificates
thelounge/certificates

## RethinkDB

rethinkdb/rethinkdb_data


## Let's Encrypt
acme/certs
acme/conf/credentials
acme/acme/certs
acme/acme/credentials

## ZNC

# Logs are generally sensitive, so we'll ignore all of that, they are in multiple differnet areas
znc/moddata/log
znc/users/*/moddata/log
znc/users/*/networks/*/moddata/log

# Obviously, we don't want to store nickserv passwords
znc/users/*/networks/*/moddata/nickserv

# Extras
secrets.tar.gz
sites.tar.gz
